.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: black;
  padding: 40px;
}

.title,
.subtitle,
.error {
  color: white;
  text-align: center;
}

.title {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 500;
}

.title small {
  font-size: 50px;
  font-weight: 100;
}

.subtitle, .error {
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 0;
  font-weight: 200;
}
